html {
    font-size: 62.5%;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.8rem;
    position: relative;
}

ul, li {
    list-style: none;
    user-select: none;
}

a {
    color: $MediumGray;
    text-decoration: none;
}